<template>
    <h1>table one</h1>
    <el-table
    :data="tableData"
    stripe
    style="width: 100%">
    <el-table-column
        prop="date"
        label="title"
        width="180">
    </el-table-column>
    <el-table-column
        prop="company"
        label="company"
        width="180">
    </el-table-column>
    <el-table-column
        prop="location"
        label="location">
    </el-table-column>
    <el-table-column
        prop="benefits"
        label="benefits">
    </el-table-column>
    <el-table-column
        prop="description"
        label="description">
    </el-table-column>
    <el-table-column
        prop="url"
        label="url">
    </el-table-column>
    </el-table>

    <!-- <h1>table two</h1>
    <el-table
    :data="tableData"
    stripe
    style="width: 100%">
    <el-table-column
        prop="date"
        label="title"
        width="180">
    </el-table-column>
    <el-table-column
        prop="company"
        label="company"
        width="180">
    </el-table-column>
    <el-table-column
        prop="location"
        label="location">
    </el-table-column>
    <el-table-column
        prop="benefits"
        label="benefits">
    </el-table-column>
    <el-table-column
        prop="description"
        label="description">
    </el-table-column>
    <el-table-column
        prop="url"
        label="url">
    </el-table-column>
    </el-table> -->
</template>

<script>
    import frontendData from '../../../data/frontendengineer.json';
    import backendData from '../../../data/frontendengineer.json';
    console.log('Imported frontendData:', frontendData)

    var ddata = []

    for (var key in frontendData) {
        ddata.push(frontendData[key]);
    }

    console.log('ddata:', ddata);
    
    export default {
        data() {
            return {
                tableData: ddata,
            };
        },

    };
</script>
